@namespace BankWebApplication.Areas.Identity.Pages

@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <div class="container">
        <img  src="~/images/resized-save-money.jpg" style="height:500px;width:1000px;"/>
    </div>
</div>



          